@use './variables' as *;

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
	margin: 0;
	padding: 0;
}

ol[role='list'],
ul[role='list'] {
	padding-inline: 0;
}

ol,
ul {
	list-style-type: none;
}

summary {
	list-style: none;
}

h1,
h2,
h3,
h4,
h5 {
	font-size: inherit;
	font-weight: inherit;
}

a {
	color: $text-primary;
	text-decoration: none;
}

img {
	display: block;
	max-inline-size: 100%;
}

html {
	font-family: 'Roboto', sans-serif;
	scroll-behavior: smooth;
}

body {
	background: url('../../../public/img/spaceBackgroundFour.png');
}

.app {
	display: flex;
	gap: 20px;

	max-height: 50vh;

	margin: 20vh 20vw;
}


